@import 'tailwindcss';

@keyframes flash {
  0%,
  10% {
    opacity: 0;
  }

  10%,
  30% {
    opacity: 1;
  }
  90%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-flash {
  animation: flash 3s ease-out forwards;
}
